.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.page {
  background: white;
}

.image-container-2 {
  display: flex;
  width: 80%;
}

.column-1 {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.column-2-wrapper-1 {
  box-shadow: 5px 5px 10px rgba(13, 15, 20, 0.1);
  width: 65%;
  margin: 0 20px;
}

.column-2-wrapper-2 {
  box-shadow: 5px 5px 10px rgba(13, 15, 20, 0.1);
  width: 35%;
  margin: 0 20px;
}

.column-2 {
  padding: 20px;
  box-sizing: border-box;
}

.input-line {
  border-bottom: 1px solid black;
  margin: 10px;
  padding: 5px;
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
}

.center-image {
  width: 100%;
  height: 100%;
}

.spaced-text {
  letter-spacing: 25px;
}

.footer-text-1 {
  font-size: 30px;
  text-align: center;
}

.footer-text-2 {
  font-size: 15px;
  text-align: center;
}
.input-label{
  color: rgba(80, 104, 143, 1);
  text-align: left;
}
.login-button
{
  background: rgba(54, 72, 107, 1);
  border-radius: 6px;
  width: 25%;
  height: 47px;
  color: white;
}
.forgot-password{
  color: rgba(80, 104, 143, 1);
}
.error-message{
  color: red;
}


