.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.page {
  background: white;
  height: fit-content;
  display: contents;
}

.image-container-2 {
  display: flex;
  width: 80%;
}

.column-1 {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.column-2-wrapper-1 {
  box-shadow: 5px 5px 10px rgba(13, 15, 20, 0.1);
  width: 65%;
  margin: 0 20px;
}

.column-2-wrapper-2 {
  box-shadow: 5px 5px 10px rgba(13, 15, 20, 0.1);
  width: 35%;
  margin: 0 20px;
}

.column-2 {
  padding: 20px;
  box-sizing: border-box;
}

.input-line {
  border-bottom: 1px solid black;
  margin: 10px;
  padding: 5px;
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
}

.center-image {
  width: 100%;
  height: 100%;
}

.spaced-text {
  letter-spacing: 25px;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #062B63;
  margin-top: auto;
  align-items: center;
}

.footer-content {
  letter-spacing: 20px;
  color: white;
  text-align: center;
  align-items: center;
}

.footer-bottom-text {
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.input-label{
  color: rgba(80, 104, 143, 1);
  text-align: left;
}
.login-button
{
  background: rgba(54, 72, 107, 1);
  border-radius: 6px;
  width: 25%;
  height: 47px;
  color: white;
}

.login-button:hover{
  background-color: #062B63;
}

.forgot-password{
  color: rgba(80, 104, 143, 1);
}
.error-message{
  color: red;
}
.footer{
  display: flex;
  margin-top: auto;
  height: 100px;
}

