.loading-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: rgba(6, 43, 99, 1);;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%; 
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
}
.image {
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 50px;  
}
.footer_ {
  background-color: rgba(6, 43, 99, 1);;
  color: #fff;
  padding: 2px;
  text-align: center;
  width: 100%; 
  align-items: center;
}


.footerTextStyle1 {
  letter-spacing: 25px;
  font-size: 25px;
  text-align: center;

}

.footerTextStyle2 {
  font-size: 30px;
  text-align: center;
}
