.page {
  background: white;
}.spaced-text {
  letter-spacing: 25px;
}.image-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}.footer-text-1 {
  font-size: 30px;
  text-align: center;
}.footer-text-2 {
  font-size: 15px;
  text-align: center;
}.admin-icon {
  margin-top: 1px;
  padding-top: 55px;
}.admin-paragraph {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}.button-icon {
  padding: 20px;
  color: white;
  background: rgba(6, 43, 99, 1);
  border-radius: 10px;
  width: 100%;
  margin-top: auto;
}
.column-2-wrapper {
  box-shadow: 15px 15px 15px 15px rgba(13, 15, 20, 0.1);
  width: 400px;
  margin: 0 120px;
  padding: 20px;
  box-sizing: border-box;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.A_P_3_images {
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.A_P_3_logout {
  display: flex;
  align-items: center;
  height: 50px;
}
.A_P_3_icon1 {
  height: 50;
  margin-left: 10px;
}
.A_P_3_icon2 {
  width: 150px;
  height: 60px;
  margin-left: 10px;
  margin-top: 0;
  color: white;
  background: rgba(145, 186, 248, 1);
  border-radius: 20px;
}
.Column2WrapperRow {
  display: flex;
  justify-content: center;
}
