body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 35px;
  background-color: #062B63;
}

.footer {
  height: 80px;
  background-color: #062B63;
  margin-top: auto;
}

.footer-content {
  letter-spacing: 20px;
  color: white;
  text-align: center;
}

.footer-bottom-text {
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.logo {
  width: 100px;
}

.Download-button {
  size: 10% !important;
  padding-top: 10px;
}

.gauge1 {
  display: flex;
  align-items: center; /* Align the gauges vertically in the center */
}

/* Add more styling as needed for the gauges */
.gauge2 {
  display: flex;
  align-items: center; /* Align the gauges vertically in the center */
}