body {
  display: flex;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; /* Set the body to a relative position */
}

.header {
  height: 5px;
  background-color: #062B63;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #062B63;
  margin-top: auto;
  align-items: center;
}

.footer-content {
  letter-spacing: 20px;
  color: white;
  text-align: center;
  align-items: center;
}

.footer-bottom-text {
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.logo {
  width: 75px;
}

.download-button {
  size: 10% !important;
  padding-top: 10px;
  position: absolute;
  top: 10px;
  right: 10px; /* Adjust these values for positioning */
  z-index: 1000; /* Set a high z-index to make sure it's above other elements */
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.meter-set {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.gauge {
  display: flex;
  flex-direction: column; /* Display gauges vertically */
  align-items: center;
  margin-bottom: 20px;
  /* Add margin between gauges */
}

.download-button {
  height: 20vh;
  width: 20vw;
  border-radius: 10px;
  align-content: center;
  background-color: #50688F;
  color: white;
  border: none;
  font-weight: bold;
}

.gauge h2 {
  margin-bottom: 10px; /* Add margin below gauge title */
}

.footer-div {
  display: flex;
  align-items: justify;
  margin-top: 50px;
  position: fixed;
  bottom:0;
  width: 100%;
}
