
  
  .header {
    background-color: rgba(6, 43, 99, 1); 
    color: white; 
    height: 20px;
    display: flex;
    padding: 15px;
    
  }
  
  .footer {
    background-color: rgba(6, 43, 99, 1); 
    color: white;
    margin-top: 11.5%;
  }
  
  .body {
    display: flex;
    grid-template-rows: 1fr 1fr 1fr; 
    height: calc(100vh - 42px);
    overflow:hidden;
  }
  
  .row {
    border: 1px solid #ccc; 
    padding: 20px; 
  }
  