body {
    margin: 0;
    height: 100vh;
  }
  
  .header {
    background-color: rgba(6, 43, 99, 1); 
    color: white; 
    padding: 20px;
  }
  
  .footer {
    background-color: rgba(6, 43, 99, 1); 
    color: white; 
    padding: 1px;
    font-family: Inter, sans-serif;
  }
  
  .body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    height: calc(100vh - 42px);
    overflow: auto; 
  }
  
  .row {
    border: 1px solid #ccc; 
    padding: 20px; 
  }
  